$breakpoint-xs: 0;
$breakpoint-sm-320: 320px;
$breakpoint-sm-356: 356px;
$breakpoint-sm-375: 375px;
$breakpoint-sm-576: 576px;
$breakpoint-sm-640: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
